{% include "Header/Header.twig" %}

 <section class="py-2">
                        <div class="container">
                            <h1 class="mb-4">{{article.titre}}</h1>
                            {{article.html|raw}}
                        
                            
                        </div>
                        
                 
                        <div class="container mt-4">
                           <h2>Latest Posts</h2>
                           
                            <div class="row">
                               {% for article in relatives %}
                               <div class="col-md-6 col-xl-4 mb-5">
                                    <a class="card post-preview lift h-100" href="/blog/{{article.url}}-{{article.id}}.html"
                                        ><img class="card-img-top" src="https://source.unsplash.com/KE0nC8-58MQ/660x360" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.titre}}</h5>
                                            <p class="card-text">{{article.preview}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="post-preview-meta">
                                                <img class="post-preview-meta-img" src="{{article.img}}" />
                                                <div class="post-preview-meta-details">
                                                    <div class="post-preview-meta-details-name">{{article.auteur}}</div>
                                                    <div class="post-preview-meta-details-date">Feb 4 &middot; 5 min read</div>
                                                </div>
                                            </div>
                                        </div></a
                                    >
                                </div>
                           {% endfor %}
                               
                            </div>
                           
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>

{% include "Footer/Footer.twig" %}