{% include "Header/Header.twig" %}

 <section class="py-2">
                         <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="single-post">
                                        <h1>{{article.titre}}</h1>
                                        <p class="lead">Empower communities and energize engaging ideas; scale and impact do-gooders while disruptring industries. Venture philanthropy benefits corporations and people by moving the needle.</p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="single-post-meta mr-4">
                                               
                                                <div class="single-post-meta-details">
                                                <div class="single-post-meta-details-date">{{article.date_creation|date("d M Y") }} by {{article.auteur}}</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="single-post-text my-3">
                                            {{article.html|raw}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                        <div class="container mt-4">
                           <h2>Latest Posts</h2>
                           
                            <div class="row ">
                               {% for article in relatives %}
                               <div class="col-md-6 col-xl-4 mb-5">
                                    <a class="card post-preview lift h-100" href="/blog/{{article.url}}-{{article.id}}.html" name="{{article.titre}}"
                                        ><img class="card-img-top" src="{{article.img}}" alt="{{article.titre}}" />
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.titre}}</h5>
                                            <p class="card-text">{{article.preview}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="post-preview-meta">
                                              
                                                <div class="post-preview-meta-details">
                                                    <div class="post-preview-meta-details-date">{{article.date_creation|date("d M Y") }} by {{article.auteur}}</div>
                                                </div>
                                            </div>
                                        </div></a
                                    >
                                </div>
                           {% endfor %}
                               
                            </div>
                           
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>

{% include "Footer/Footer.twig" %}